# Umami Analytics
# Get your Website ID from the Umami Dashboard (https://cloud.umami.is/settings/websites)
NEXT_PUBLIC_UMAMI_WEBSITE_ID=

# Optional: Set a custom Script URL if you are self-hosting Umami
# Default is: https://cloud.umami.is/script.js
NEXT_PUBLIC_UMAMI_SCRIPT_URL=
